/*
body {
    background-color: skyblue;
    font-family: Arial, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
}
*/

body {
    background-color: skyblue;
    font-family: Arial, sans-serif;
    display: grid;
    place-items: start center;
    height: 100vh;
    margin: 0;
    padding-top: 10vh; 
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
    width: 80%;
    max-width: 600px;
}


h1 {
    text-align: center;
}

#taskForm {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
}

input, button {
    padding: 0.5rem;
    font-size: 1rem;
}

button {
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

.login-container {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    gap: 0.5rem;
}

.hidden{
    display: none;
}


#taskList {
    list-style-type: none;
    padding: 1em;
}

.task {
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid;
}

span.delete {
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

span.delete:hover {
    background-color: darkred;
}



